  <div class="navbar navbar-fixed-top" id="headertop">
     <div class="col-xs-3"><a href="/logout"><img src="images/img 8.png" width="25" height="25"></a></div>
      <div class="col-xs-6 text-center"><a href="/aboutus"><img src="images/img 7.png" width="100" height="30"></a></div>
        <div class="col-xs-3 text-right"><a href="/settings"><img src="images/img 6.png" width="25" height="25"></a></div>
    </div>