<!doctype html>
<html>
<head>
<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <%- include partials/head %>
</head>
<body ng-app="swingApp" >
<%- include partials/header %>
<div class="container" id="aboutdiv">
<br>
<br>
<br>
<hr>
<h3>About</h3>
    <a href=""><p>Follow us</p>
    </a>
<hr>   
    <a href=""><p>Blog</p>
    </a>
<hr>
    <a href=""><p>Terms of Service</p>
    </a>
<hr>
    <a href=""><p>Privacy Policies</p>
    </a>
<hr> 
</div>

          
<%- include partials/footer %>
</body>
  <script src="javascripts/bootstrap.js"></script>
        <script src="javascripts/main.js"></script>

</html>