<!doctype html>
<html>
<head>
<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <%- include partials/head %>
</head>
<body ng-app="swingApp" >
<%- include partials/header %>
<div class="container" id="aboutdiv">
<br>
<br>
<br>
<hr>
<h3>Gallery</h3>
<div class="row">
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
</div>
<div class="row">
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
</div><div class="row">
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
</div><div class="row">
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
</div><div class="row">
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
</div><div class="row">
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="images/imgexample.jpg" ></div>
</div>
         
<%- include partials/footer %>
</body>
  <script src="javascripts/bootstrap.js"></script>
        <script src="javascripts/main.js"></script>

</html>