<!doctype html>
<html>
<head>
<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <%- include partials/head %>
</head>
<body ng-app="swingApp" >
<%- include partials/header %>

<div class="container" id="aboutdiv">

<br>
<br>
<br>
<hr>
<h3>Home</h3>
<div id="homeDiv">
<br>
<br>

<div id="mainDiv"><br>
<br><br>
<br><p>“Only I can change my life. No one can do it for me”</p><br>
<p>-Carol Burnett</p><br>
<br><br>
<br></div>

</div>

         
<%- include partials/footer %>
</body>
  <script src="javascripts/bootstrap.js"></script>
        <script src="javascripts/main.js"></script>

</html>