<!doctype html>
<html>
<head>
<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <%- include partials/head %>
</head>
<body ng-app="swingApp" >
<%- include partials/header %>

<br><br><br><br><br><br>
<ul>          <li class="nav-item">
            <a class="nav-link" href="/register">register</a><br><br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">login</a><br><br>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="/home">home</a><br><br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account">account</a><br><br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">settings</a><br><br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/survey">survey</a><br><br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/progress">progress</a><br><br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">aboutus</a><br><br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">help</a><br><br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gallery">gallery</a><br><br>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/quotes">quotes</a><br><br>
          </li>

          
        </ul>










<!-- <ui-view>
   
        </ui-view> -->
         
<%- include partials/footer %>
</body>
  <script src="javascripts/bootstrap.js"></script>
        <script src="javascripts/main.js"></script>

</html>