<!doctype html>
<html>
<head>
<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <%- include partials/head %>
</head>
<body ng-app="swingApp" >
<%- include partials/header %>
<div class="container" id="aboutdiv">
<br>
<br>
<br>
<hr>
<h3>Blog</h3>
<p>Tempor in quaerat occaecati doloribus blandit pharetra porro. Auctor, atque deserunt! Dicta, cursus wisi sociis facilisi. Accusantium bibendum mollitia quis habitant cubilia, eaque augue quos, ultrices, amet proin? Necessitatibus leo eaque magnam, quaerat! Occaecati nulla hac dignissimos litora eget? Perspiciatis? Rutrum voluptas. Metus veritatis animi, id eiusmod explicabo. Dolore exercitationem magnam potenti blandit voluptatum at, turpis rutrum nec itaque a? Provident, beatae facilisis reiciendis laoreet mollis consectetuer mollis turpis natus occaecat non, torquent class labore laboriosam quisquam labore, in consequatur! Augue irure sollicitudin nonummy? Penatibus consequatur esse sint omnis sequi nostrum adipisicing dapibus donec mattis reprehenderit, repudiandae quaerat morbi cursus.

Dicta magnam sint quam accusantium minus interdum, etiam conubia placerat id scelerisque, ornare, deleniti, rem. Cillum! Aliqua facilis. Tellus placerat! Iure auctor pretium habitasse! Possimus natoque porro taciti, netus nobis cum metus torquent, integer laborum voluptates! Venenatis assumenda ultrices eiusmod, quod tempore taciti facilisi iusto in! Phasellus cum! Vulputate dictum nisi cubilia dicta blanditiis occaecati? Potenti natoque nostra? Quam autem, senectus nostrum elementum tellus, sodales itaque consectetuer culpa, fames adipisci aute integer? Volutpat, tellus consequatur quos! Voluptatem officiis deserunt minim dicta! Nullam netus alias lacinia? Integer voluptas eros? Sociosqu pellentesque, repellendus fames, nihil sagittis ornare malesuada adipisci. Reprehenderit voluptate quia.
</p>

</div>

          
<%- include partials/footer %>
</body>
  <script src="javascripts/bootstrap.js"></script>
        <script src="javascripts/main.js"></script>

</html>